.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e6cfb8;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.be-logo {
  height: 40px;
}

.clock {
  font-size: 18px;
  color: #987349;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;

}

.burger-menu {
  position: relative;
  cursor: pointer;
}

.burger-menu svg {
  font-size: 24px;
  color: #fff;
  padding-right: 20px;
}

.menu {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #987349;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.menu span {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.menu span:hover {
  background-color: #f0f0f0;
}

.menu-divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 8px 0;
}